*{
    margin: 0;
    box-sizing: border-box;
}


header{grid-area: header;}
nav{grid-area: menu;}
div.mensajeBusqueda{grid-area: mensaje;}
div.productos{grid-area: main;}
footer{grid-area: footer;}

.general{
    display: grid;
    grid-template-columns: 400px 1fr;
    grid-template-areas: 
    'header header'
    'menu menu'
    'mensaje mensaje'
    'main main'
    'footer footer';
    min-height: 100vh;
    grid-template-rows: auto auto auto 1fr auto;
}

.productos{
    background-color: rgba(255,255,255,0.8);
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

